* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    place-items: center;
    background: rgb(0,87,255);
    background: linear-gradient(120deg, rgba(0,87,255,1) 30%, rgba(237,152,255,1) 100%);
  }
  
  .login-container {
    width: 450px;
    height: 450px;
    border-radius: 12px;
    background: rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 34px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 88%;
    left: 43%;
  }
  
  .social-icons i {
    font-size: 26px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .social-icons i:hover {
    color: #2B83F3;
  }
  
  .login-container h1 {
    text-align: center;
    margin-top: 32px;
    font-size: 2.5rem;
    color: #fff;
    position: relative;
  }
  
  .login-container h1::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 50px;
    height: 1px;
    width: 350px;
    background-color: #686868;
  }
  
  form {
   position: absolute;
   left: 13%;
   display: grid;
   justify-content: center;
   margin-top: 40px;
   transition: 0.4s;
  }
  
  form input {
    height: 40px;
    width: 320px;
    margin: 6px;
    border-radius: 6px;
    background: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    border: none;
    outline: none;
    color: #fff;
  }
  
  form input::placeholder {
    padding: 6px;
    color: #fff;
  }
  
  .submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 12px;
  }
  
  .submit-btn button {
    height: 40px;
    width: 160px;
    cursor: pointer;
    background-color: #2B83F3;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    transition: 0.4s;
  }
  
  .submit-btn button:hover {
    background-color: #7BAFF1;
  }
  
  #form2 {
    margin-left: 450px;
  }
  
  #form3 {
    margin-left: -450px;
  }